ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #4DC3EC;
    padding:0;
    width: 100%;
    position: fixed;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
  }
  
  li a:hover:not(.active) {
    background-color:#F7F844;
  }
  
header {
    padding: 0px;
}

nav {
    width:30%;
    float: left;
    padding-left:14%; 
    padding-top: 50px;
    align-content: center;
}

section {
    width:40%;
    float:right;
    padding-right:14%; 
    text-align:justify;
    padding-top: 12px;
}

footer {
    background-color:#4DC3EC;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    clear:both;
    text-align:center;
    padding:5px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
